#education {
    margin-top: var(--section-space-lg);
}

.edu-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

.edu-title {
    font-size: var(--fs-section-title);
}

.edu-grid {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    margin-top: var(--space-3);
    overflow-x: auto;
    box-sizing: border-box;
}

.edu-grid::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.edu-scroll {
    position: relative;
}

.grid-btn-left {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 50;
}

.grid-btn-right {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 50;
}


/* Cards */

.edu-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 380px;
    height: 240px;
    min-height: var(--section-space-sm);
    background-color: cadetblue;
    border-radius: var(--radius-md);
    flex: 0 0 auto;
    padding: var(--space-4);
}

.edu-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--space-5);
    margin-left: var(--space-2);
    margin-bottom: var(--space-2);
}


.edu-card.course-card {
    background-color: rgb(35, 59, 59);
}


.edu-card.academic-card {
    background-color: rgb(8, 190, 196);
}

.edu-status.completed {
    
}

.edu-status.in-progress {
    
}
