.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--space-5) var(--space-6);
    z-index: 1000;
}

.logo a {
    font-size: var(--fs-logo);
    font-weight: var(--fw-lg);
}

.navdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--icon-fs-2);
    gap: var(--space-2);
    list-style: none;
}

.bars-icon {
    font-size: var(--icon-fs-3);
    cursor: pointer;
}