:root {

    /* =========================
        COLORS
    ========================== */

    --color-bg: #242424;
    --color-text: rgba(255, 255, 255, 0.87);
    --color-primary: #C92351;
    --color-primary-hover: #df577e;

    --color-surface: #1a1a1a;
    --color-card-overlay: rgba(0, 0, 0, 0.5);

    /* =========================
        CONTAINER SYSTEM
    ========================== */

    --container-max: 1400px;
    --container-padding: clamp(1rem, 4vw, 3rem);


    /* =========================
        SPACING SCALE
    ========================== */

    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;
    --space-5: 3rem;
    --space-6: 4rem;
    --space-7: 6rem;
    --space-8: 8rem;
    --space-9: 10rem;

    /* SECTION SPACING */

    --section-space-sm: 12rem;
    --section-space-md: 16rem;
    --section-space-lg: 20rem;
    --section-space-lg2: 25rem;


    /* =========================
        TYPOGRAPHY
    ========================== */

    --fs-logo: 2rem;
    --fs-hero: clamp(5rem, 6vw, 7rem);
    --fs-title: clamp(3rem, 3.5vw, 6rem);
    --fs-body: clamp(1rem, 1.2vw, 2rem);
    --fs-section-title: clamp(4rem, 4vw, 5rem);
    --fs-section-body: clamp(1.5rem, 2vw, 2rem);
    --fs-small: 0.875rem;

    --fw-sm: 400;
    --fw-md: 500;
    --fw-lg: 600;

    /* =========================
        RADIUS
    ========================== */

    --radius-cr: 50%;
    --radius-lg: 28px;
    --radius-md: 20px;
    --radius-sm: 12px;

    /* =========================
        CARD SYSTEM
    ========================== */

    --card-max-width: 650px;
    --card-ratio: 4 / 3;

    /* =========================
        ICONS
    ========================== */
    --icon-fs-1: 1rem;
    --icon-fs-2: 1.5rem;
    --icon-fs-3: 2rem;
    --icon-fs-4: 2.5rem;
    --icon-fs-5: 3rem;
    --icon-fs-6: 3.5rem;
    --icon-fs-7: 4rem;

}
